.title{
    font-size: 35px;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 27px;
}


table {
    border-collapse: collapse;
    margin: 0px auto;
    width: 80%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
    font-size: 20px;
}
td {
    font-size: 18px;
    color: white;
}

.buttons{
    
    display: flex;
    justify-content: space-between;
    margin: 80px 90px 10px;
}

button{
    width: max-content;
    padding: 5px;
    border-radius: 3px;
    border: 0px;
}

button[value="back"]{
    width: 50px;
    margin: 10px 20px 10px;
}

button[value="addstaff"]{
    width: 90px;
    
}

button[value="deletestaff"]{
    width: 100px;
}

.addandremove > button{
   margin: 10px 20px 10px;
}

@media (max-width:550px){
    
    .buttons{
        gap: 5px;
        flex-direction:row;
        margin-left:30px ;
    }

    .addandremove{
        flex-direction: row;
    }

    .addandremove > button{
        margin: 10px 10px 5px;
     }

    button[value="back"]{
        width: max-content;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items:center;
    }

    button[value="addstaff"]{
        width: max-content;
        
    }
    button[value="deletestaff"]{
       width: max-content;
    }

}