<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>LibraryManagement</display-name>
	<servlet>
		<description>
		</description>
		<display-name>Registration</display-name>
		<servlet-name>Registration</servlet-name>
		<servlet-class>com.lib.controller.Registration</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.lib.controller.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>StaffDetail</display-name>
		<servlet-name>StaffDetail</servlet-name>
		<servlet-class>com.lib.controller.StaffDetail</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>StaffDetails</display-name>
		<servlet-name>StaffDetails</servlet-name>
		<servlet-class>com.lib.controller.StaffDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BookAvailable</display-name>
		<servlet-name>BookAvailable</servlet-name>
		<servlet-class>com.lib.controller.BookAvailable</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>book</display-name>
		<servlet-name>book</servlet-name>
		<servlet-class>com.lib.controller.book</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Booksearch</display-name>
		<servlet-name>Booksearch</servlet-name>
		<servlet-class>com.lib.controller.Booksearch</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BorrowHistory</display-name>
		<servlet-name>BorrowHistory</servlet-name>
		<servlet-class>com.lib.controller.BorrowHistory</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BookSearch</display-name>
		<servlet-name>BookSearch</servlet-name>
		<servlet-class>com.lib.controller.Booksearch</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Addingbook</display-name>
		<servlet-name>Addingbook</servlet-name>
		<servlet-class>com.lib.controller.Addingbook</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Addbook</display-name>
		<servlet-name>Addbook</servlet-name>
		<servlet-class>com.lib.controller.Addbook</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RemoveBook</display-name>
		<servlet-name>RemoveBook</servlet-name>
		<servlet-class>com.lib.controller.RemoveBook</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddBookLibrary</display-name>
		<servlet-name>AddBookLibrary</servlet-name>
		<servlet-class>com.lib.controller.AddBookLibrary</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteBookLibrary</display-name>
		<servlet-name>DeleteBookLibrary</servlet-name>
		<servlet-class>com.lib.controller.DeleteBookLibrary</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddStaffdetails</display-name>
		<servlet-name>AddStaffdetails</servlet-name>
		<servlet-class>com.lib.controller.AddStaffdetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddStaffDetails</display-name>
		<servlet-name>AddStaffDetails</servlet-name>
		<servlet-class>com.lib.controller.AddStaffDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteStaffLibrary</display-name>
		<servlet-name>DeleteStaffLibrary</servlet-name>
		<servlet-class>com.lib.controller.DeleteStaffLibrary</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Registration</servlet-name>
		<url-pattern>/Registration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StaffDetail</servlet-name>
		<url-pattern>/StaffDetail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StaffDetails</servlet-name>
		<url-pattern>/StaffDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookAvailable</servlet-name>
		<url-pattern>/BookAvailable</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>book</servlet-name>
		<url-pattern>/book</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Booksearch</servlet-name>
		<url-pattern>/Booksearch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BorrowHistory</servlet-name>
		<url-pattern>/BorrowHistory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookSearch</servlet-name>
		<url-pattern>/BookSearch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Addingbook</servlet-name>
		<url-pattern>/Addingbook</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Addbook</servlet-name>
		<url-pattern>/Addbook</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveBook</servlet-name>
		<url-pattern>/RemoveBook</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddBookLibrary</servlet-name>
		<url-pattern>/AddBookLibrary</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteBookLibrary</servlet-name>
		<url-pattern>/DeleteBookLibrary</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddStaffdetails</servlet-name>
		<url-pattern>/AddStaffdetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddStaffDetails</servlet-name>
		<url-pattern>/AddStaffDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteStaffLibrary</servlet-name>
		<url-pattern>/DeleteStaffLibrary</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>Login.html</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
